body{
    background-color: rgb(168, 51, 51);
}
.M1{
    color: Red; background-color: Blue; font-size: 20px; border-style: double;
}
.M2{
    color:rgb(97, 25, 25); background-color:Blue; font-size: 20px; border-style: double;
}
#favorite{
    color:purple; background-color: yellow; font-size: 20px; border-style: double;
}
.M4{
    color:Orange; background-color: rgb(31, 147, 201); font-size: 20px; border-style: double;
}
.M5{
    color:Blue; background-color: Gold; font-size: 20px; border-style: double;
}
table{
    color:rgb(24, 197, 24); background-color: rgb(240, 36, 36); font-size: 35px;
}
img{
    border-style: double; border: 2;
}
h1{
    background-color: aqua; color: crimson;
}
.Mil{
    text-align: center;
    color: Red;
    font-size: 40px;
    font-family: fantasy;
}
.Mil:hover{
    color: skyblue;
}
.main{
    text-align: center;
    align-items: center;
}
.footer{
    font-size:11px;
}